*{
	margin: 0;
	padding: 0;
}
#container {
	background: black;
	width: 90%;
	height: 600px;
	overflow: hidden;
	
}
#boxes {
	width: 600%;
	height: 600px;
	display: -moz-box;
	display: -webkit-box;
}
#boxes div {
	margin: 0 0 0 50px;
	height: 100%;
}
#box1 {
	background: #EAD3FF;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}
#box2 {
	background: #8C9DF3;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}
#box3 {
	background: #65B7EE;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}
#box4 {
	background: #D3FFF4;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}
#box5 {
	background: #F3FFD3;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}
#box6 {
	background: #FFD7D3;
	-moz-box-flex: 1.0;
	-webkit-box-flex: 1.0;
}